<template name="home">
    <div class="row">
        <div class="col-md-12">
            <h1 class="header">Convert PDF, EPUB, MOBI</h1>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Title</th>
                            <th>Type</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#if stories}}
                            {{#each stories}}
                                {{> story}}
                            {{/each}}
                        {{else}}
                            <tr>
                                <td colspan="3">Loading...</td>
                            </tr>
                        {{/if}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<template name="story">
    <tr>
        <td><a href="{{pathFor 'iframe' storyId=storyId}}">{{storyId}}</a></td>
        <td>{{title}}</td>
        <td>{{type}}</td>
    </tr>
</template>